#header{
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #343a40;
    color: white;
}

.forecast{
    box-sizing: border-box;
    background-color:#007bff;
    width: 17%;
    height: 165px;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    padding: 8px;
}

.capitalize{
    text-transform: capitalize;
}

li:hover{
    cursor: pointer;
}

.low{
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.veryhigh {
    background-color: red;
    color: white;
}

.extreme {
    background-color: purple;
    color: white;
}
.hide{
    display: none;
}
.container-fluid{
    padding: 0;
}


